/* base.css */
:root {
  --color-primary: #e20074;
  --color-secondary: hsl(194, 52%, 90%);
  --color-ternary: white;
  --color-primary-darker: #c00063;
  --color-primary-darker-hard: #a90057;
  --color-secondary-darker: #ffbb00;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
}

/* @font-face {
  font-family: 'TeleNeoWeb';
  src: url('/fonts/TeleNeoWeb-Regular.woff2') format('woff2'),
    url('/fonts/TeleNeoWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TeleNeoWeb';
  src: url('/fonts/TeleNeoWeb-Bold.woff2') format('woff2'),
    url('/fonts/TeleNeoWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TeleNeoWeb';
  src: url('/fonts/TeleNeoWeb-ExtraBold.woff2') format('woff2'),
    url('/fonts/TeleNeoWeb-ExtraBold.woff') format('woff');
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'TeleNeoWeb';
  src: url('/fonts/TeleNeoWeb-Medium.woff2') format('woff2'),
    url('/fonts/TeleNeoWeb-Medium.woff') format('woff');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'TeleNeoWeb';
  src: url('/fonts/TeleNeoWeb-Ultra.woff2') format('woff2'),
    url('/fonts/TeleNeoWeb-Ultra.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
} */

html {
  scroll-behavior: smooth;
}

/* Global Styling */
body {
  font-family: "TeleNeoWeb", sans-serif;
  line-height: 1.6;
  /* color: #333; */
}

/* Main Layout Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.hidden {
  display: none;
  /* visibility: hidden;
  opacity: 0; */
}
